*{
    list-style-type: none;
}

.active{
    border-radius: 5px;
}

.result li a{
    text-decoration: none;
    color: white;
}


.result li a:hover{
    text-decoration: none;
    color: rgb(63, 152, 231);

}

.dropdown li a{
    text-decoration: none;
}


.dropdown li a:hover{
    text-decoration: none;
    color: rgb(63, 152, 231);

}


.img-thumbnail{
    border: none;
    height: 50px;
    width: auto;
}

header a span{
    font-size: 10px;
}


.c-item{
    height: 700px;
}

.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
    filter: blur(10);

}

.carousel-caption h1{
    font-size: 4rem;
}

.carousel-caption p{
    font-size: 2rem;
}


/* media query not working */


@media only screen and (max-width: 700px) {

    .img-thumbnail{
        border: none;
        height: 40px;
        width: auto;
    }

    .carousel-caption h1{
        font-size: 20px;
    }
    
    .carousel-caption p{
        font-size: 20px;
    }  

    .c-item{
        height: 500px;
    }
    
    .c-img{
        height: 100%;
        object-fit: cover;
        filter: brightness(0.4);
        filter: blur(10);
    
    }

    .carousel-control-prev-icon{
        font: small;
    }
   
    .carousel-control-next-icon{
        font: small;
    }


    .btn{
        box-shadow: 1px 1px 8px rgb(0, 0, 0);
        background-color: rgb(204, 164, 246);
        font-size: 10px;
        margin-bottom: 10px;
        padding: 5px;
    }
    .btn-1:hover{
        box-shadow: none;
        border: 1px solid rgb(204, 164, 246);
    }
    
    .btn-2{
        background-color: aliceblue;
        border: solid 1px white;
        padding: 2px;
    }
    .btn-2:hover{
        box-shadow: none;
        border: solid 1px white;
        padding: 2px;
    }
    
    
  }



.btn{
    box-shadow: 1px 1px 8px rgb(0, 0, 0);
    background-color: rgb(204, 164, 246);
    font-size: 1.2rem;
    margin-right: 15px;
    padding: 15px;
}
.btn-1:hover{
    box-shadow: none;
    border: 1px solid rgb(204, 164, 246);
}

.btn-2{
    background-color: aliceblue;
    border: solid 1px white;
    padding-left: 2.1rem;
    padding-right: 2.1rem;
}
.btn-2:hover{
    box-shadow: none;
    border: solid 1px white;
    padding-left: 2.1rem;
    padding-right: 2.1rem;
}

.btn-3{
    border: none;
    background-color: rgb(204, 164, 246);
    font-size: 1rem;
    padding: 5px;
    color: black;
    border-color: black;
    align-content: center;
}

.btn-3:hover{
    color: black;
    background-color: transparent;
    border: none;
}
.btn-5{
    border: none;
    background-color: rgb(247, 247, 248);
    font-size: 1rem;
    padding: 3px;
    color: black;
    border-color: black;
    align-content: center;
}

.btn-5:hover{
    color: black;
    background-color: transparent;
    background-color: rgb(184, 184, 185);
    border: none;
}


.dialog{
    text-decoration: none;
}

.crd-cvr:hover{
    box-shadow: 0px 0px 15px rgb(50, 50, 50);
}


.foot-hr{
    display: inline-block;
}

.student-corner{
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.student-corner h4{
    height: 50px;
    font-size: 1.3rem;
    margin-top: 20px;
}

h5{
    font-size: 1.5rem;
    font-weight: 600;
}

div.foot{
    background-color: rgb(130, 98, 163);
}

div > header > ul.nav-pills > li.nav-items > a.active{
    background: black;
}

.header-container{
    z-index: 1;
    box-shadow: 1px 1px 10px black;
    background-color: white;
    padding-left: 60px;
    padding-right: 60px;
}

div.carousel-slide{
    position: relative;
    z-index: 0;
}


/* departments */



.card{
    padding: 1.5rem .5em .5em;
    text-align: center;
    border-radius: .3em;
    box-shadow: 0 0 10px rgba(0, 0,0,.2);
}

.card-title{
    font-weight: bold;
    font-size: 1.5em;
}

.card-text{
    height: 125px;
    text-align: justify;
}

.card-body{
    background-color: aliceblue;
}

.card-img-top{
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius:50%;
    box-shadow: 0 0 20px rgb(193, 192, 192);
}

nav.nav-bar{
    position: relative;
    z-index: 9;
}


.lead{
    text-align: justify;
    font-size: 1em;
}