
.img-thumbnail{
    border: none;
    height: 65px;
    width: auto;
}

.nav-pills > li.nav-items > a{
    background: rgb(118, 24, 24);
}


header a span{
    font-size: 10px;
}


.c-item{
    height: 600px;
}

.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
    filter: blur(10);

}

.carousel-caption h1{
    font-size: 4rem;
}

.carousel-caption p{
    font-size: 2rem;
}

.btn{
    box-shadow: 1px 1px 8px rgb(0, 0, 0);
    background-color: rgb(204, 164, 246);
    font-size: 1.2rem;
    margin-right: 15px;
    padding: 15px;
}
.btn-1:hover{
    box-shadow: none;
    border: 1px solid rgb(204, 164, 246);
}

.btn-2{
    background-color: aliceblue;
    border: solid 1px white;
    padding-left: 2.1rem;
    padding-right: 2.1rem;
}
.btn-2:hover{
    box-shadow: none;
    border: solid 1px white;
    padding-left: 2.1rem;
    padding-right: 2.1rem;
}

.btn-3{
    border: none;
    background-color: rgb(204, 164, 246);
    font-size: 1rem;
    padding: 5px;
    color: black;
    border-color: black;
    align-content: center;
}

.btn-3:hover{
    color: black;
    background-color: transparent;
    border: none;
}

.dialog{
    text-decoration: none;
}

.crd-cvr:hover{
    box-shadow: 0px 0px 15px rgb(50, 50, 50);
}


.foot-hr{
    display: inline-block;
}

.student-corner{
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.student-corner h4{
    height: 50px;
    font-size: 1.3rem;
    margin-top: 20px;
}

h5{
    font-size: 1.5rem;
    font-weight: 600;
}

div.foot{
    background-color: rgb(130, 98, 163);
}

div > header > ul.nav-pills > li.nav-items > a.active{
    background: black;
}

div.header-container{
    z-index: 1;
    box-shadow: 1px 1px 10px black;
    background-color: white;
}

div.carousel-slide{
    position: relative;
    z-index: 0;
}